<div id="accordion">
<!--     <h3>DEMO预览</h3>
    <ul class="panel-body">
        <li><a href="#component/headmenu">页头组件</a></li>
        <li><a href="#component/forform/tempFile">文件组件</a></li>
        <li><a href="#component/forform/tempMultiSelect">多选组件</a></li>
    </ul> -->
    <h3><img src="../../image/tab_1_white@2x.png" alt=""><span>会员管理</span></h3>
    <ul class="panel-body active">
        <li><a class="active" href="#views/member/memberList">会员列表</a></li>
        <li><a href="#views/member/memChargeRegular">充值规则</a></li>
        <!--  <li><a href="#views/member/memberRank">会员等级</a></li>
            <li><a href="#views/member/memberCharge">充值提现</a></li> -->
    </ul>
    <h3><img src="../../image/tab_2_white@2x.png" alt=""><span>服务项目</span></h3>
    <ul class="panel-body">
        <li><a href="#views/project/projectList">服务项目列表</a></li>
        <li><a href="#views/project/projectCategory">服务项目分类</a></li>
        <li><a href="#views/project/projectCards">次卡管理</a></li>
    </ul>
    <h3><img src="../../image/tab_3_white@2x.png" alt=""><span>订单管理</span></h3>
    <ul class="panel-body">
        <li><a href="#views/order/orderList">订单列表</a></li>
        <li><a href="#views/order/refundList">退款申请列表</a></li>
        <li><a href="#views/order/refundReasonList">退款原因列表</a></li>
        <li><a href="#views/order/evaluateList">评价列表</a></li>
    </ul>
    <h3><img src="../../image/tab_4_white@2x.png" alt=""><span>门店管理</span></h3>
    <ul class="panel-body">
        <li><a href="#views/shop/shopList">门店列表</a></li>
    </ul>
    <h3><img src="../../image/tab_5_white@2x.png" alt=""><span>员工管理</span></h3>
    <ul class="panel-body">
        <li><a href="#views/staff/staffList">员工列表</a></li>
    </ul>
     <h3><img src="../../image/tab_6_white@2x.png" alt=""><span>统计报表</span></h3>
    <ul class="panel-body">
        <li><a href="#views/report/reconciliation">对账表单</a></li>
        <li><a href="#views/report/orderReport">订单统计</a></li>
        <li><a href="#views/report/cardReport">开卡统计</a></li>
        <li><a href="#views/report/memberReport">会员统计</a></li>
    </ul>
    <h3><img src="../../image/tab_7_white@2x.png" alt=""><span>广告管理</span></h3>
    <ul class="panel-body">
        <li><a href="#views/advertisement/adPlaceList">广告位列表</a></li>
    </ul>
    <h3><img src="../../image/tab_8_white@2x.png" alt=""><span>权限管理</span></h3>
    <ul class="panel-body">
        <li><a href="#views/permission/permissionList">管理员列表</a></li>
        <li><a href="#views/permission/roleList">角色列表</a></li>
        <!-- <li><a href="#views/permission/logList">管理员日志</a></li> -->
    </ul>
    <h3><img src="../../image/tab_10_white@2x.png" alt=""><span>系统管理</span></h3>
    <ul class="panel-body">
        <li><a href="#views/advertisement/adArea">城市开通地区</a></li>
    </ul>
    <h3><img src="../../image/garbish_white.png" alt=""><span>回收站</span></h3>
    <ul class="panel-body">
        <li><a href="#views/recycle/orderRecycleList">订单回收</a></li>
        <li><a href="#views/recycle/projectRecycleList">服务项目回收</a></li>
    </ul>
</div>