<div class="pageHead">
    <div class="phLeft"><img src="../../../../image/biaotou_place@2x.png" alt="">&nbsp&nbsp<span style="color:#9e9e9e;">当前位置：</span>
        <% _.each(titles,function(title,index){%>
           <% if(titles.length-1 > index){ %>
                <span><%=title%></span> >
           <% }else{ %>
                <span><%=title%></span>
            <% } %>
        <%})%>
    </div>
    <div class="phRight">
        <% if(back){%>
            <a onClick="javascript :history.back(-1);" href="javascript:void(0)" class="btn btn-info back">返回</a>
        <% } %>
    </div>
</div>
<div class="panel panel-default">
<div class="panel-body">
     <div class="control-group" id="main">
    
	</div>
    <% if(!isAdd){%> 
    <div class="formElement">
        <span class="formTitle">可用资金(元)</span><div class="detail_content"><span id="balance"></span><a href="#views/member/form/memberAccount/code<%=code %>">[ 资金明细 ]</a></div>
     </div>
     <% } %>
     <hr>
     <div id="carMsg" class="control-group">
     </div>
	<button type="button" id="confirm" class="btn btn-primary btn-lg">提&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp交</button>
	<button type="button" id="clear" class="btn btn-primary btn-lg">重&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp置</button>
	<!-- <a href="<% if(back!='#'){%><%=back %><% }else{ %> javascript:void(0)<% } %>" id="back" class="btn btn-info btn-lg">返&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp回</a> -->
</div>
</div>